/* main{
    padding-top: 60px;
} */

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e0fce7;
/* Hide scrollbar for Chrome, Safari and Opera */
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.banner-bg {
  width: 100%; 
  height: 400px; 
  background-image: url("https://img.freepik.com/free-photo/photo-background-green-textured-wall-rolling-floor-studio-photography-background-illuminated_1258-82806.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1728172800&semt=ais_hybrid"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.cards-bg {
  background-image: url("https://cdn.prod.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e2981cc9b93c1a_62fb3c9be416fd1867213b22_DrawKit_0015_-_economy-and-finance-banner.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}

.cards2-bg {
  background-image: url("https://thumbs.dreamstime.com/b/cartoon-farmers-group-farm-family-working-man-woman-agricultural-workers-garden-community-agriculture-harvesting-decent-vector-218451287.jpg"); 
  background-size: cover;
  background-position: center -10px; /* 50px from the top and centered horizontally */
  background-repeat: no-repeat; 
}



.cards3-bg {
  background-image: url("https://img.freepik.com/free-vector/people-buying-fresh-fruit-vegetables-outdoor-farm-market-isometric-composition_1284-56875.jpg"); 
  background-size: cover;
  background-position: center ; /* 50px from the top and centered horizontally */
  background-repeat: no-repeat; 
}